<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="receiving_name" property="receivingName" jdbcType="VARCHAR" />
    <result column="receiving_phone" property="receivingPhone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="xian" property="xian" jdbcType="VARCHAR" />
    <result column="jiedao" property="jiedao" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="isDefault" property="isdefault" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, receiving_name, receiving_phone, province, city, xian, jiedao, details, 
    isDefault
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.Address" >
    insert into user_address (id, user_id, receiving_name, 
      receiving_phone, province, city, 
      xian, jiedao, details, 
      isDefault)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{receivingName,jdbcType=VARCHAR}, 
      #{receivingPhone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{xian,jdbcType=VARCHAR}, #{jiedao,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, 
      #{isdefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.Address" >
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="receivingName != null" >
        receiving_name,
      </if>
      <if test="receivingPhone != null" >
        receiving_phone,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="xian != null" >
        xian,
      </if>
      <if test="jiedao != null" >
        jiedao,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="isdefault != null" >
        isDefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="receivingName != null" >
        #{receivingName,jdbcType=VARCHAR},
      </if>
      <if test="receivingPhone != null" >
        #{receivingPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="xian != null" >
        #{xian,jdbcType=VARCHAR},
      </if>
      <if test="jiedao != null" >
        #{jiedao,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.Address" >
    update user_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="receivingName != null" >
        receiving_name = #{receivingName,jdbcType=VARCHAR},
      </if>
      <if test="receivingPhone != null" >
        receiving_phone = #{receivingPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="xian != null" >
        xian = #{xian,jdbcType=VARCHAR},
      </if>
      <if test="jiedao != null" >
        jiedao = #{jiedao,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        isDefault = #{isdefault,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.Address" >
    update user_address
    set user_id = #{userId,jdbcType=INTEGER},
      receiving_name = #{receivingName,jdbcType=VARCHAR},
      receiving_phone = #{receivingPhone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      xian = #{xian,jdbcType=VARCHAR},
      jiedao = #{jiedao,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      isDefault = #{isdefault,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义方法 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.Address" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    <where>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="receivingName != null" >
        and receiving_name = #{receivingName,jdbcType=VARCHAR}
      </if>
      <if test="receivingPhone != null" >
        and receiving_phone = #{receivingPhone,jdbcType=VARCHAR}
      </if>
      <if test="province != null" >
        and province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="xian != null" >
        and xian = #{xian,jdbcType=VARCHAR}
      </if>
      <if test="jiedao != null" >
        and jiedao = #{jiedao,jdbcType=VARCHAR}
      </if>
      <if test="details != null" >
        and details = #{details,jdbcType=VARCHAR}
      </if>
      <if test="isdefault != null" >
        and isDefault = #{isdefault,jdbcType=INTEGER}
      </if>
    </where>
    order by id desc,isDefault desc
  </select>
</mapper>