<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.AttrMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.Attr" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, goods_id, attr_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_attr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_attr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.Attr" >
    insert into goods_attr (id, name, goods_id, 
      attr_value)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{attrValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.Attr" >
    insert into goods_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.Attr" >
    update goods_attr
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.Attr" >
    update goods_attr
    set name = #{name,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      attr_value = #{attrValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 自定义方法 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.Attr" >
    select 
    <include refid="Base_Column_List" />
    from goods_attr
    <where>
      <if test="1 == 1">
   			1 = 1
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null" >
        and goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="attrValue != null" >
        and attr_value = #{attrValue,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>