<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.BuyCartMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.BuyCart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="sku_detail" property="skuDetail" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goods_thumbs" property="goodsThumbs" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="StoreMap" type="com.app.dto.BuyCartDto" >
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_avatar" property="storeAvatar" jdbcType="VARCHAR" />
    <collection property="buyCartList" resultMap="BaseResultMap" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id as goodsId, sku_id as skuId, num, store_id as storeId, user_id as userId, goods_name as goodsName, sku_detail as skuDetail, price, goods_code as goodsCode, 
    goods_thumbs as goodsThumbs
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_buycart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_buycart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.BuyCart" >
    insert into user_buycart (id, goods_id, sku_id, 
      num, store_id, user_id, 
      goods_name, sku_detail, price, 
      goods_code, goods_thumbs)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{skuDetail,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{goodsCode,jdbcType=VARCHAR}, #{goodsThumbs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.BuyCart" >
    insert into user_buycart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="skuDetail != null" >
        sku_detail,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="goodsThumbs != null" >
        goods_thumbs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="skuDetail != null" >
        #{skuDetail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumbs != null" >
        #{goodsThumbs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.BuyCart" >
    update user_buycart
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="skuDetail != null" >
        sku_detail = #{skuDetail,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsThumbs != null" >
        goods_thumbs = #{goodsThumbs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.BuyCart" >
    update user_buycart
    set goods_id = #{goodsId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      sku_detail = #{skuDetail,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_thumbs = #{goodsThumbs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 自定义方法 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.BuyCart" >
     select 
    <include refid="Base_Column_List" />
    from user_buycart
    <where>
      <if test="1 == 1">
   			1 = 1
      </if>
      <if test="goodsId != null" >
        and goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="skuId != null" >
        and sku_id = #{skuId,jdbcType=INTEGER}
      </if>
      <if test="num != null" >
        and num = #{num,jdbcType=INTEGER}
      </if>
      <if test="storeId != null" >
        and store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="goodsName != null" >
        and goods_name = #{goodsName,jdbcType=VARCHAR}
      </if>
      <if test="skuDetail != null" >
        and sku_detail = #{skuDetail,jdbcType=VARCHAR}
      </if>
      <if test="price != null" >
        and price = #{price,jdbcType=VARCHAR}
      </if>
      <if test="goodsCode != null" >
        and goods_code = #{goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="goodsThumbs != null" >
        and goods_thumbs = #{goodsThumbs,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="selectCartsByUserId" resultMap="StoreMap" parameterType="com.qhtr.model.BuyCart" >
    select  u.id as id,u.goods_id as goods_id,u.sku_id as sku_id,u.num as num,u.user_id as user_id,
    s.id as store_id,s.name as store_name
    from user_buycart u,seller_store s
    where u.store_id = s.id
    and u.user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <!-- 通过购物车ids查找购物车信息  -->
  <select id="selectByIds" resultMap="StoreMap" parameterType="java.lang.Integer" >
    select  u.id as id,u.goods_id as goods_id,u.sku_id as sku_id,u.num as num,u.user_id as user_id,u.goods_name as goods_name,u.sku_detail as sku_detail,u.price as price,u.goods_code as goods_code,u.goods_thumbs as goods_thumbs,
    s.id as store_id,s.name as store_name,s.avatar as store_avatar
    from user_buycart u,seller_store s
    where u.store_id = s.id and u.id in
    <foreach item="ids" collection="array" open="(" separator="," close=")">
	#{ids}
	</foreach>
  </select>
  
  <delete id="deleteByIds" parameterType="java.lang.Integer" >
    delete from user_buycart
    where id in 
	<foreach item="ids" collection="array" open="(" separator="," close=")">
	#{ids}
	</foreach>
  </delete>
</mapper>