<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.Collect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMap1" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
    <result column="goodsPicture" property="goodsPicture" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.qhtr.dto.CollectDto" >
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
    <collection property="collects" resultMap="BaseResultMap1" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_id, goods_id, category_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.Collect" useGeneratedKeys="true" keyProperty="id">
    insert into user_collect (id, user_id, goods_id, 
      category_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.Collect" >
    insert into user_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.Collect" >
    update user_collect
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.Collect" >
    update user_collect
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

   <!-- 以下是自定义方法 -->
   <!-- 通过用户id查询收藏 -->
  <select id="selectByUserid" resultMap="BaseResultMap2" parameterType="java.lang.Integer" >
    select c.id,c.user_id,c.goods_id,s.name as goodsName,s.thumb as goodsPicture
    ,c.category_id,g.name as categoryName
    from user_collect c,goods_category g,goods_goods s
    where c.category_id = g.id and c.goods_id = s.id
    and user_id = #{userId,jdbcType=INTEGER}
    order by c.create_time desc
  </select>
  
  <!-- 通过用户id和商铺id查找收藏 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="java.util.Map" >
     select 
    <include refid="Base_Column_List" />
    from user_collect
    <where>
      <if test="1 == 1">
   			1 = 1
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="goodsId != null" >
        and goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="categoryId != null" >
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
  <!-- 收藏详情/更多 -->
  <select id="selectByRecentCollect" resultType="java.util.Map" parameterType="java.util.Map" >
    select c.id,g.id as goodsId,g.name as goodsName,g.thumb as goodsThumb
    from user_collect c,goods_goods g
    <where>
      <if test="1 == 1">
   			c.goods_id = g.id
      </if>
      <if test="userId != null" >
        and c.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="goodsId != null" >
        and c.goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="categoryId != null" >
        and c.category_id = #{categoryId,jdbcType=INTEGER}
      </if>
    </where>
    order by c.create_time desc
  </select>
</mapper>