<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="picture1" property="picture1" jdbcType="VARCHAR" />
    <result column="picture2" property="picture2" jdbcType="VARCHAR" />
    <result column="picture3" property="picture3" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="vip_price" property="vipPrice" jdbcType="INTEGER" />
    <result column="special_selling_price" property="specialSellingPrice" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="isDefault" property="isdefault" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pull_on_time" property="pullOnTime" jdbcType="TIMESTAMP" />
    <result column="new_pull_on_time" property="newPullOnTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="is_new_pull_on" property="isNewPullOn" jdbcType="INTEGER" />
    <result column="is_recommended_by_store_manager" property="isRecommendedByStoreManager" jdbcType="INTEGER" />
    <result column="is_special_selling" property="isSpecialSelling" jdbcType="INTEGER" />
    <result column="string1" property="string1" jdbcType="VARCHAR" />
    <result column="string2" property="string2" jdbcType="VARCHAR" />
    <result column="string3" property="string3" jdbcType="VARCHAR" />
    <result column="collect_num" property="collectNum" jdbcType="INTEGER" />
    <result column="sell_num" property="sellNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_code, seller_id, name, category_id, thumb, picture1, picture2, picture3, 
    price, vip_price, special_selling_price, stock, details, isDefault, status, create_time, 
    pull_on_time, new_pull_on_time, start_time, end_time, is_new_pull_on, is_recommended_by_store_manager, 
    is_special_selling, string1, string2, string3, collect_num, sell_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.Goods" >
    insert into goods_goods (id, goods_code, seller_id, 
      name, category_id, thumb, 
      picture1, picture2, picture3, 
      price, vip_price, special_selling_price, 
      stock, details, isDefault, 
      status, create_time, pull_on_time, 
      new_pull_on_time, start_time, end_time, 
      is_new_pull_on, is_recommended_by_store_manager, 
      is_special_selling, string1, string2, 
      string3, collect_num, sell_num
      )
    values (#{id,jdbcType=INTEGER}, #{goodsCode,jdbcType=VARCHAR}, #{sellerId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{thumb,jdbcType=VARCHAR}, 
      #{picture1,jdbcType=VARCHAR}, #{picture2,jdbcType=VARCHAR}, #{picture3,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{vipPrice,jdbcType=INTEGER}, #{specialSellingPrice,jdbcType=INTEGER}, 
      #{stock,jdbcType=INTEGER}, #{details,jdbcType=VARCHAR}, #{isdefault,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{pullOnTime,jdbcType=TIMESTAMP}, 
      #{newPullOnTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{isNewPullOn,jdbcType=INTEGER}, #{isRecommendedByStoreManager,jdbcType=INTEGER}, 
      #{isSpecialSelling,jdbcType=INTEGER}, #{string1,jdbcType=VARCHAR}, #{string2,jdbcType=VARCHAR}, 
      #{string3,jdbcType=VARCHAR}, #{collectNum,jdbcType=INTEGER}, #{sellNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.Goods" >
    insert into goods_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="picture1 != null" >
        picture1,
      </if>
      <if test="picture2 != null" >
        picture2,
      </if>
      <if test="picture3 != null" >
        picture3,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="vipPrice != null" >
        vip_price,
      </if>
      <if test="specialSellingPrice != null" >
        special_selling_price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="isdefault != null" >
        isDefault,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="pullOnTime != null" >
        pull_on_time,
      </if>
      <if test="newPullOnTime != null" >
        new_pull_on_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="isNewPullOn != null" >
        is_new_pull_on,
      </if>
      <if test="isRecommendedByStoreManager != null" >
        is_recommended_by_store_manager,
      </if>
      <if test="isSpecialSelling != null" >
        is_special_selling,
      </if>
      <if test="string1 != null" >
        string1,
      </if>
      <if test="string2 != null" >
        string2,
      </if>
      <if test="string3 != null" >
        string3,
      </if>
      <if test="collectNum != null" >
        collect_num,
      </if>
      <if test="sellNum != null" >
        sell_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="picture1 != null" >
        #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null" >
        #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="picture3 != null" >
        #{picture3,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="vipPrice != null" >
        #{vipPrice,jdbcType=INTEGER},
      </if>
      <if test="specialSellingPrice != null" >
        #{specialSellingPrice,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pullOnTime != null" >
        #{pullOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newPullOnTime != null" >
        #{newPullOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isNewPullOn != null" >
        #{isNewPullOn,jdbcType=INTEGER},
      </if>
      <if test="isRecommendedByStoreManager != null" >
        #{isRecommendedByStoreManager,jdbcType=INTEGER},
      </if>
      <if test="isSpecialSelling != null" >
        #{isSpecialSelling,jdbcType=INTEGER},
      </if>
      <if test="string1 != null" >
        #{string1,jdbcType=VARCHAR},
      </if>
      <if test="string2 != null" >
        #{string2,jdbcType=VARCHAR},
      </if>
      <if test="string3 != null" >
        #{string3,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null" >
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        #{sellNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.Goods" >
    update goods_goods
    <set >
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="picture1 != null" >
        picture1 = #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null" >
        picture2 = #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="picture3 != null" >
        picture3 = #{picture3,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="vipPrice != null" >
        vip_price = #{vipPrice,jdbcType=INTEGER},
      </if>
      <if test="specialSellingPrice != null" >
        special_selling_price = #{specialSellingPrice,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null" >
        isDefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pullOnTime != null" >
        pull_on_time = #{pullOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newPullOnTime != null" >
        new_pull_on_time = #{newPullOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isNewPullOn != null" >
        is_new_pull_on = #{isNewPullOn,jdbcType=INTEGER},
      </if>
      <if test="isRecommendedByStoreManager != null" >
        is_recommended_by_store_manager = #{isRecommendedByStoreManager,jdbcType=INTEGER},
      </if>
      <if test="isSpecialSelling != null" >
        is_special_selling = #{isSpecialSelling,jdbcType=INTEGER},
      </if>
      <if test="string1 != null" >
        string1 = #{string1,jdbcType=VARCHAR},
      </if>
      <if test="string2 != null" >
        string2 = #{string2,jdbcType=VARCHAR},
      </if>
      <if test="string3 != null" >
        string3 = #{string3,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null" >
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="sellNum != null" >
        sell_num = #{sellNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.Goods" >
    update goods_goods
    set goods_code = #{goodsCode,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      thumb = #{thumb,jdbcType=VARCHAR},
      picture1 = #{picture1,jdbcType=VARCHAR},
      picture2 = #{picture2,jdbcType=VARCHAR},
      picture3 = #{picture3,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      vip_price = #{vipPrice,jdbcType=INTEGER},
      special_selling_price = #{specialSellingPrice,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      isDefault = #{isdefault,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pull_on_time = #{pullOnTime,jdbcType=TIMESTAMP},
      new_pull_on_time = #{newPullOnTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_new_pull_on = #{isNewPullOn,jdbcType=INTEGER},
      is_recommended_by_store_manager = #{isRecommendedByStoreManager,jdbcType=INTEGER},
      is_special_selling = #{isSpecialSelling,jdbcType=INTEGER},
      string1 = #{string1,jdbcType=VARCHAR},
      string2 = #{string2,jdbcType=VARCHAR},
      string3 = #{string3,jdbcType=VARCHAR},
      collect_num = #{collectNum,jdbcType=INTEGER},
      sell_num = #{sellNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--以下自定义方法 --> 
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.Goods" >
    select 
    <include refid="Base_Column_List" />
    from goods_goods
    <where>
   	 <if test="1 == 1" >
        1 = 1
      </if>
     <if test="sellerId != null">
        and seller_id = #{sellerId,jdbcType=INTEGER}
      </if>
     <if test="goodsCode != null">
        and goods_code = #{goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="thumb != null">
        and thumb = #{thumb,jdbcType=VARCHAR}
      </if>
      <if test="picture1 != null">
        and picture1 = #{picture1,jdbcType=VARCHAR}
      </if>
      <if test="picture2 != null">
        and picture2 = #{picture2,jdbcType=VARCHAR}
      </if>
      <if test="picture3 != null">
        and picture3 = #{picture3,jdbcType=VARCHAR}
      </if>
      <if test="price != null">
        and price = #{price,jdbcType=INTEGER}
      </if>
      <if test="vipPrice != null">
        and vip_price = #{vipPrice,jdbcType=INTEGER}
      </if>
      <if test="specialSellingPrice != null">
        and special_selling_price = #{specialSellingPrice,jdbcType=INTEGER}
      </if>
      <if test="stock != null">
        and stock = #{stock,jdbcType=INTEGER}
      </if>
      <if test="isdefault != null">
        and isDefault = #{isdefault,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="pullOnTime != null">
        and pull_on_time = #{pullOnTime,jdbcType=TIMESTAMP}
      </if>
      <if test="newPullOnTime != null">
        and new_pull_on_time = #{newPullOnTime,jdbcType=TIMESTAMP}
      </if>
      <if test="startTime != null">
        and start_time = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        and end_time = #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isNewPullOn != null">
        and is_new_pull_on = #{isNewPullOn,jdbcType=INTEGER}
      </if>
      <if test="isRecommendedByStoreManager != null">
        and is_recommended_by_store_manager = #{isRecommendedByStoreManager,jdbcType=INTEGER}
      </if>
      <if test="isSpecialSelling != null">
        and is_special_selling = #{isSpecialSelling,jdbcType=INTEGER}
      </if>
      <if test="details != null">
        and details = #{details,jdbcType=LONGVARCHAR}
      </if>
    </where>
  	</select>
  	
  	
  	<!-- 周边好货 -->
  <select id="selectGoodsByCondition1" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_goods
    order by id desc
  	</select>
  	
  	
  	<!-- 通过内容搜索 -->
  <select id="selectGoodsBySearch" resultMap="BaseResultMap"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_goods
    where name like CONCAT("%",#{searchContent,jdbcType=VARCHAR},"%")
  	</select>
</mapper>