<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.GoodsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.GoodsOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="store_order_id" property="storeOrderId" jdbcType="INTEGER" />
    <result column="pay_order_id" property="payOrderId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="distribution_type" property="distributionType" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="sku__attr_details" property="skuAttrDetails" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cancal_time" property="cancalTime" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="after_sale_time" property="afterSaleTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_code, store_order_id, pay_order_id, goods_id, sku_id, status, num, price, 
    distribution_type, goods_name, goods_code, sku__attr_details, total_price, create_time, 
    cancal_time, payment_time, receive_time, comment_time, after_sale_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_goods_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_goods_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.GoodsOrder" >
    insert into order_goods_order (id, order_code, store_order_id, 
      pay_order_id, goods_id, sku_id, 
      status, num, price, 
      distribution_type, goods_name, goods_code, 
      sku__attr_details, total_price, create_time, 
      cancal_time, payment_time, receive_time, 
      comment_time, after_sale_time)
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{storeOrderId,jdbcType=INTEGER}, 
      #{payOrderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{distributionType,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{skuAttrDetails,jdbcType=VARCHAR}, #{totalPrice,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{cancalTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{commentTime,jdbcType=TIMESTAMP}, #{afterSaleTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.GoodsOrder" >
    insert into order_goods_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="storeOrderId != null" >
        store_order_id,
      </if>
      <if test="payOrderId != null" >
        pay_order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="distributionType != null" >
        distribution_type,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="skuAttrDetails != null" >
        sku__attr_details,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cancalTime != null" >
        cancal_time,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="afterSaleTime != null" >
        after_sale_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="storeOrderId != null" >
        #{storeOrderId,jdbcType=INTEGER},
      </if>
      <if test="payOrderId != null" >
        #{payOrderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="distributionType != null" >
        #{distributionType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="skuAttrDetails != null" >
        #{skuAttrDetails,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancalTime != null" >
        #{cancalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterSaleTime != null" >
        #{afterSaleTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.GoodsOrder" >
    update order_goods_order
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="storeOrderId != null" >
        store_order_id = #{storeOrderId,jdbcType=INTEGER},
      </if>
      <if test="payOrderId != null" >
        pay_order_id = #{payOrderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="distributionType != null" >
        distribution_type = #{distributionType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="skuAttrDetails != null" >
        sku__attr_details = #{skuAttrDetails,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancalTime != null" >
        cancal_time = #{cancalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterSaleTime != null" >
        after_sale_time = #{afterSaleTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.GoodsOrder" >
    update order_goods_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      store_order_id = #{storeOrderId,jdbcType=INTEGER},
      pay_order_id = #{payOrderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      distribution_type = #{distributionType,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      sku__attr_details = #{skuAttrDetails,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cancal_time = #{cancalTime,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      after_sale_time = #{afterSaleTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>