<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.GoodsClassesMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.GoodsClasses" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMap1" type="com.sell.dto.GoodsClassesDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, store_id, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_goods_classes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_goods_classes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.GoodsClasses" >
    insert into goods_goods_classes (id, name, store_id, 
      sort)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.GoodsClasses" >
    insert into goods_goods_classes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.GoodsClasses" >
    update goods_goods_classes
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.GoodsClasses" >
    update goods_goods_classes
    set name = #{name,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>  
  
  <!-- 以下为自定义方法 -->
  <!-- 中间表中删除类别为id的数据 -->
  <delete id="deleteFromMidByClassId" parameterType="java.lang.Integer" >
    delete from goods_mid_goods_classes
    where goods_classes_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 中间表中删除商品为id的数据 -->
  <delete id="deleteFromMidByGoodsId" parameterType="java.lang.Integer" >
    delete from goods_mid_goods_classes
    where goods_id = #{id,jdbcType=INTEGER}
  </delete>
  

  
	<!-- 条件查找          selectByConditions  -->                    
	<select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.GoodsClasses" >
    select 
    <include refid="Base_Column_List" />
    from goods_goods_classes
    <where>
   	 <if test="1 == 1" >
        1 = 1
      </if>
     <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="storeId != null" >
        and store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="sort != null" >
        and sort = #{sort,jdbcType=INTEGER}
      </if>
    </where>
  	</select>
  	
  	
  	
	<!-- 条件查找(查询出来的结果带商品数量)          selectByConditions1  -->                    
	<select id="selectByConditions1" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
	SELECT c.*,COUNT(m.id) as goods_num
	from goods_goods_classes c LEFT JOIN goods_mid_goods_classes m
	on c.id = m.goods_classes_id
	WHERE c.store_id = #{storeId,jdbcType=INTEGER}
	GROUP BY c.id
    order by c.sort desc
  	</select>
  	
	<!-- 查找分类中的商品            -->                    
	<select id="getGoodsByClass" resultType="java.util.Map" parameterType="java.util.Map" >
	SELECT g.id id,g.thumb thumb,g.name name
	from goods_goods g,goods_mid_goods_classes c
	WHERE g.id = c.goods_id
	AND g.store_id = #{storeId,jdbcType=INTEGER}
	AND c.goods_classes_id = #{classId,jdbcType=INTEGER}
	GROUP BY c.id
  	</select>
  	
	<!-- 查找不在此分类中的商品            -->                    
	<select id="getGoodsByClassExcept" resultType="java.util.Map" parameterType="java.util.Map" >
	select gg.* from goods_goods gg where gg.store_id = #{storeId,jdbcType=INTEGER} and gg.id not in 
	(
	SELECT g.id
	from goods_goods g,goods_mid_goods_classes c
	WHERE g.id = c.goods_id
	AND g.store_id = #{storeId,jdbcType=INTEGER}
	AND c.goods_classes_id = #{classId,jdbcType=INTEGER}
	GROUP BY c.id
	)
	order by gg.id desc
  	</select>
	
	<!-- 添加商品和分类中间表的数据 -->
  	 <insert id="insertGoodsMidGoodsClass" parameterType="java.util.Map">
    insert into goods_mid_goods_classes (id, goods_id, goods_classes_id)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER})
  	</insert>
  	
  	<!-- 从分类中删除商品 -->
  	<delete id="deleteGoodsByClass" parameterType="java.util.Map" >
    delete from goods_mid_goods_classes
    where goods_id = #{goodsId,jdbcType=INTEGER} and goods_classes_id = #{classId,jdbcType=INTEGER}
  </delete>
  
  <!-- 查找商品分类信息 -->                    
	<select id="selectClassByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	SELECT c.*
	from goods_mid_goods_classes m,goods_goods_classes c
	where m.goods_classes_id = c.id and m.goods_id = #{goodsId,jdbcType=INTEGER}
  	</select>
</mapper>