<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.HomePageMapper" >

	<!-- 查询首页轮播图 -->
	<select id="getHomePagePic" resultType="com.qhtr.model.HomePage">
		select * from home_page limit 4
	</select>
</mapper>