<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.StoreThumbsUpMapper" >

<!-- 通过条件查找是否点赞 -->
<select id="isThumbsUp" parameterType="com.qhtr.model.StoreThumbsUp" resultType="com.qhtr.model.StoreThumbsUp">
	select g.* 
	from store_thumbs_up g
	<where>
		1=1
		<if test="userId != null">
		and g.user_id = #{userId}
		</if>
		<if test="storeId != null">
		and g.store_id = #{storesId}
		</if>
	</where>
</select>

<!-- 点赞 -->
<insert id="thumbsUp" parameterType="com.qhtr.model.StoreThumbsUp">
	insert into store_thumbs_up (id,user_id,store_id) values(0,#{userId},#{storeId})
</insert>

<!-- 取消赞 -->
<delete id="delThumbsUp" parameterType="com.qhtr.model.StoreThumbsUp">
	delete from store_thumbs_up where user_id = #{userId} and store_id = #{storeId}
</delete>

<!-- 查询赞的数量 -->
<select id="countThumbsUp" parameterType="Integer" resultType="Integer">
	select count(0) from store_thumbs_up where store_id = #{parameter}
</select>
</mapper>