<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.StoreOrderMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.StoreOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="pay_order_code" property="payOrderCode" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="cancal_time" property="cancalTime" jdbcType="TIMESTAMP" />
    <result column="user_remark" property="userRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_code, pay_order_code, seller_id, store_id, user_id, total_price, status, 
    creat_time, payment_time, cancal_time, user_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_store_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_store_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.StoreOrder" >
    insert into order_store_order (id, order_code, pay_order_code, 
      seller_id, store_id, user_id, 
      total_price, status, creat_time, 
      payment_time, cancal_time, user_remark
      )
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{payOrderCode,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{paymentTime,jdbcType=TIMESTAMP}, #{cancalTime,jdbcType=TIMESTAMP}, #{userRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.StoreOrder" >
    insert into order_store_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="payOrderCode != null" >
        pay_order_code,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="cancalTime != null" >
        cancal_time,
      </if>
      <if test="userRemark != null" >
        user_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="payOrderCode != null" >
        #{payOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancalTime != null" >
        #{cancalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userRemark != null" >
        #{userRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.StoreOrder" >
    update order_store_order
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="payOrderCode != null" >
        pay_order_code = #{payOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancalTime != null" >
        cancal_time = #{cancalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userRemark != null" >
        user_remark = #{userRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.StoreOrder" >
    update order_store_order
    set order_code = #{orderCode,jdbcType=VARCHAR},
      pay_order_code = #{payOrderCode,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      cancal_time = #{cancalTime,jdbcType=TIMESTAMP},
      user_remark = #{userRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	 <!-- 自定义方法 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.StoreOrder" >
    select 
    <include refid="Base_Column_List" />
    from order_store_order
    <where>
      <if test="orderCode != null" >
        and order_code = #{orderCode,jdbcType=VARCHAR}
      </if>
      <if test="payOrderId != null" >
        and pay_order_code = #{payOrderCode,jdbcType=VARCHAR}
      </if>
      <if test="sellerId != null" >
        and seller_id = #{sellerId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null" >
        and store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="totalPrice != null" >
        and total_price = #{totalPrice,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="creatTime != null" >
        and creat_time = #{creatTime,jdbcType=TIMESTAMP}
      </if>
      <if test="paymentTime != null" >
        and payment_time = #{paymentTime,jdbcType=TIMESTAMP}
      </if>
      <if test="cancalTime != null" >
        and cancal_time = #{cancalTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

</mapper>