<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhtr.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.qhtr.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="qq_code" property="qqCode" jdbcType="VARCHAR" />
    <result column="weixin_code" property="weixinCode" jdbcType="VARCHAR" />
    <result column="sina_code" property="sinaCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, nick_name, phone, password, sex, avatar, status, create_time, birthday, 
    qq_code, weixin_code, sina_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhtr.model.User" >
    insert into user (id, name, nick_name, 
      phone, password, sex, 
      avatar, status, create_time, 
      birthday, qq_code, weixin_code, 
      sina_code)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{birthday,jdbcType=VARCHAR}, #{qqCode,jdbcType=VARCHAR}, #{weixinCode,jdbcType=VARCHAR}, 
      #{sinaCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qhtr.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="qqCode != null" >
        qq_code,
      </if>
      <if test="weixinCode != null" >
        weixin_code,
      </if>
      <if test="sinaCode != null" >
        sina_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qqCode != null" >
        #{qqCode,jdbcType=VARCHAR},
      </if>
      <if test="weixinCode != null" >
        #{weixinCode,jdbcType=VARCHAR},
      </if>
      <if test="sinaCode != null" >
        #{sinaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhtr.model.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="qqCode != null" >
        qq_code = #{qqCode,jdbcType=VARCHAR},
      </if>
      <if test="weixinCode != null" >
        weixin_code = #{weixinCode,jdbcType=VARCHAR},
      </if>
      <if test="sinaCode != null" >
        sina_code = #{sinaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhtr.model.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      birthday = #{birthday,jdbcType=VARCHAR},
      qq_code = #{qqCode,jdbcType=VARCHAR},
      weixin_code = #{weixinCode,jdbcType=VARCHAR},
      sina_code = #{sinaCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 自定义方法 -->
  <select id="selectByConditions" resultMap="BaseResultMap" parameterType="com.qhtr.model.User" >
    select 
    <include refid="Base_Column_List" />
    from user
    <where>
      <if test="1 == 1">
   			1 = 1
      </if>
       <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="phone != null" >
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="avatar != null" >
        and avatar = #{avatar,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
       <if test="qqCode != null" >
        and qq_code = #{qqCode,jdbcType=VARCHAR}
      </if>
      <if test="weixinCode != null" >
        and weixin_code = #{weixinCode,jdbcType=VARCHAR}
      </if>
      <if test="sinaCode != null" >
        and sina_code = #{sinaCode,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc,status desc
  </select>
</mapper>